[Unit]
Description=Keeps track of the Jira ticket that is currently assigned to you, at /tmp/jira-currently-assigned-issue.txt
After=xdg-desktop-portal.service

[Service]
ExecStart=/home/sebelino/bin/jira-refresh-currently-assigned-issue.sh
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
